<script>
	function loadImages() {
		jsonParser();
		/* if(horror.length<5) {
			while(horror.length!=5) {
				horror.push();
			}
		} */
		var actionlist = '<ul class="movies">';
		for (var i = 0; i < action.length; i++) {
			actionlist += '<li><a href="#"><img src="'+action[i]+'"></li>';
		}
		actionlist + "'</ul>";
		document.getElementById("actionmovies").innerHTML += actionlist;
		var horrorlist = '<ul class="movies">';
		for (var i = 0; i < horror.length; i++) {
			horrorlist += '<li><a href="#"><img src="'+horror[i]+'"></li>';
		}
		horrorlist + "'</ul>";
		document.getElementById("horrormovies").innerHTML += horrorlist;
		var comedylist = '<ul class="movies">';
		for (var i = 0; i < comedy.length; i++) {
			comedylist += '<li><a href="#"><img src="'+comedy[i]+'"></li>';
		}
		comedylist + "'</ul>";
		document.getElementById("comedymovies").innerHTML += comedylist;
		var dramalist = '<ul class="movies">';
		for (var i = 0; i < drama.length; i++) {
			dramalist += '<li><a href="#"><img src="'+drama[i]+'"></li>';
		}
		dramalist + "'</ul>";
		document.getElementById("dramamovies").innerHTML += dramalist;
		var romancelist = '<ul class="movies">';
		for (var i = 0; i < romance.length; i++) {
			romancelist += '<li><a href="#"><img src="'+romance[i]+'"></li>';
		}
		romancelist + "'</ul>";
		document.getElementById("romancemovies").innerHTML += romancelist;
	}
	loadImages();
</script>

<div ng-controller="BrowseCatalogController as bVm">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="title navbar-brand" href="#"
					style="color: red; font-size: 24px">MovieFlix&nbsp;&nbsp;&nbsp;&nbsp;</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<form>
					<ul class="nav navbar-nav">
						<li class="active"><div class="form-group">
								<input type="text" class="form-control" placeholder="Search"
									style="width: 100%;">
							</div></li>
						<li><div class="form-group">
								<button type="submit" class="btn btn-default">
									<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
								</button>
							</div></li>
					</ul>
				</form>
				<form>

					<ul class="nav navbar-nav navbar-right">
						<li><a>Welcome User</a></li>
						<li>
							<div class="form-group">
								<button ng-click="bVm.logout()" class="btn btn-default">Logout</button>
							</div>
						</li>
					</ul>

				</form>
			</div>
		</div>
	</nav>
	<div class="container">
		<ul class="nav nav-tabs" id="myTab">
			<li class="active"><a href="##action" data-toggle="tab" target="_self">Action</a></li>
			<li><a href="##drama" data-toggle="tab" target="_self">Drama</a></li>
			<li><a href="##horror" data-toggle="tab" target="_self">Horror</a></li>
			<li><a href="##romance" data-toggle="tab" target="_self">Romance</a></li>
			<li><a href="##comedy" data-toggle="tab" target="_self">Comedy</a></li>
		</ul>
		<div class="tab-content my-tab">
			<div class="tab-pane active" id="action">
				<div class="row">
					<div class="col-md-12" id="actionmovies"></div>
				</div>
			</div>
			<div class="tab-pane" id="drama">
				<div class="row">
					<div class="col-md-12" id="dramamovies"></div>
				</div>
			</div>
			<div class="tab-pane" id="horror">
				<div class="row">
					<div class="col-md-12" id="horrormovies"></div>
				</div>
			</div>
			<div class="tab-pane" id="romance">
				<div class="row">
					<div class="col-md-12" id="romancemovies"></div>
				</div>
			</div>
			<div class="tab-pane" id="comedy">
				<div class="row">
					<div class="col-md-12" id="comedymovies"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12" style="height: 50px;"></div>
		</div>
	</div>
	<div class="container">
		<footer class="navbar-fixed-bottom">
			Copyright&copy;AbhiVerma2016 </footer>
	</div>
</div>